<!-- ko if: skuModel.isSuccess -->
<div>
<h2>Box Configurations</h2>
<form data-bind="submit: handleSubmit">
<table>
<thead>
<tr>
<th>Units Per Box</th>
<th>Number of Boxes</th>
<th>Box Weight (lbs.)</th>
<th>Box Dimensions (in.)</th>
<th></th>
</tr>
</thead>
<tbody data-bind="foreach: boxModel">
<tr>
<td><input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: unitsPerBox, attr: { name: 'units_per_box_' + $index() }" /></td>
<td><input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: numberOfBoxes, attr: { name: 'number_of_boxes_' + $index() }" /></td>
<td><input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: boxWeight, attr: { name: 'box_weight_' + $index() }" /></td>
<td><input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: length, attr: { name: 'length_' + $index() }" /> x 
<input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: width, attr: { name: 'width_' + $index() }" /> x 
<input type="number" class="required-entry validate-greater-than-zero" data-bind="textInput: height, attr: { name: 'height_' + $index() }" />
</td>
<td>
<a id="delete-box" data-bind="click: $parent.handleDelete.bind($parent, $index())">Delete</a>
</td>
</tr>
</tbody>
</table>
<button class="primary" type="button" data-bind="click: handleAdd">Add Box Configuration</button>
<button class="primary action" type="submit">Submit</button>
</form>
</div>
<!-- /ko -->
