/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2025-10-20 03:10:46 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

@media (min-width: 1190px) {
  .layout-1220 .container,.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container {
    max-width: 1260px;
  }
}
@media (max-width: 575px){
  body {
    font-size: 13px;
    line-height: 21px;
  }
}
p {
  letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins,sans-serif;
  color: #222529;
  letter-spacing: -0.05em;
}
h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 32px 0;
}
h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 32px 0;
}
h3 {
  font-weight: 700;
  font-size: 25px;
  line-height: 32px;
  margin: 0 0 20px 0;
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 14px 0;
}
h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 14px 0;
}
h6 {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 14px 0;
} 
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
  color: #ff7272;
}

html .btn-modern {
  text-transform: uppercase;
  font-size: .75rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  height: auto;
}
html .action.primary, html .btn {
  font-family: Poppins;
  letter-spacing: .01em;
  font-weight: 700;
  line-height: 1.42857;
  padding: .8em 2em;
  border-radius: 0;
}
html .action.primary {
  color: #fff;
  background-color: #65829d;
    border-color: #65829d #65829d #51697f;
}
html .btn-lg {
  padding: .5rem .875rem;
  font-size: .875rem;
  line-height: 1.3333;
  border-radius: 0;
}
.btn-modern.btn-lg {
  font-size: .875rem;
  padding: 1rem 2.25rem;
}
.btn-flat {
  padding: 0!important;
  background: none!important;
  border: none!important;
  border-bottom: 1px solid transparent!important;
  box-shadow: none!important;
  text-transform: uppercase;
  font-size: .75rem;
}
html .btn-dark {
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
  color: #222529;
  background-color: #fff;
  border-color: #fff #fff #e6e6e6;
}
html .background-color-secondary {
  background-color: #ff7272!important;
}
.main-panel-top .share-links a:not(:hover) {
    color: #282d3b;
}
.main-panel-top .share-links a { 
    width: 28px;
    height: 28px; 
    margin: 0 1px; 
    font-size: 1rem;
}
@media (min-width: 1280px){
.pe-xl-5 {
    padding-right: 3rem !important;
}
}
.page-header .sw-megamenu.navigation li.level0 > em, .page-header .sw-megamenu.navigation li.level0 i {
  display: none;
}
.top-icon .porto-sicon-header {
  margin-bottom: .75rem;
}
.widget .widgettitle {
  font-size: 1rem;
  letter-spacing: -.02em;
}
.product-item-name a {
    font-family: 'Poppins';
}
.product-item-info .product-item-details .product-item-actions .tocart {
    padding-left: 1rem;
    padding-right: 1rem;
    background: #f4f4f4;
    border: none;
    line-height: 36px;
    font-weight: 700;
}
.product-item-photo>a:not(.weltpixel-quickview):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  z-index: 3;
  opacity: 0;
  transition: opacity .2s;
}
.product-item-info:hover .product-item-photo>a:not(.weltpixel-quickview):before {
  opacity:1;
}
.small-list.products-grid .product-items .product-item-info .product-item-photo:before {display: none;}
.owl-carousel.show-nav-title .owl-nav {
    margin-top: -24px;
}
.footer-middle > .container::after { 
    display: none; 
}
.footer, .footer p {
    letter-spacing: 0;
}
.footer .widgettitle, .footer .widget-title {
    text-transform: uppercase;
    font-size: .9375rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.footer-middle .widget {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}
.footer-middle .widget:first-child {
    margin-top: 0;
}
.footer .share-links a {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: none;
    border-radius: 30px;
    margin: 2px;
    overflow: hidden;
    font-size: 14px;
}
.footer .share-links a:not(:hover) {
    background: #3d5167;
    color: #ffffff;
}  
.footer li {
    margin-bottom: .625rem;
}
.footer .footer-bottom {
    padding: 2rem 0;
    font-size: 1em;
}