/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2025-10-20 03:10:46 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}
@media (max-width: 480px){
    .products-grid .product-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}

body {
    line-height: 22px;
    letter-spacing: 0;
}
p,li {
    letter-spacing: 0;
    line-height: 22px;
}
@media (min-width: 1440px) {
.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container,.layout-1220 .container {
    max-width: 1200px;
}
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 {
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    margin: 0 0 32px 0;
}
h2 {
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    margin: 0 0 32px 0;
}
h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
    font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em;
}
html .btn-modern {
    font-size: .8125rem;
    padding: 1em 2.8em;
}
html .action.primary {
    color: #fff;
    background-color: #4dae65;
    border-color: #4dae65 #4dae65 #3e8b51;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
    color: #222529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
.wel-msg i {
    font-size: 23.68px;
    color: #4dae65;
}
.page-wrapper > .breadcrumbs .items {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 14px;
}
.product-item-info .product-type-advanced .product-item-details .price-box {
    margin-bottom: 0;
}
.product-item-info .product-type-advanced.effect-cartlink .product-item-photo .product-item-inner:not(.show-cart-icon) .product-item-actions > .actions-primary .tocart {
    margin-left: 0;
  }
.product-item-info.type19 .product-type-advanced {
    background-color: rgba(255,255,255,1);
    border-radius: 4px 4px 4px 4px;
    padding: 2rem 2rem 2rem 2rem !important;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.05);
}
.product.data.items > .item.content {
    background: none;
}
.product-type-carousel:not(.weltpixel_quickview-catalog_product-view) .product-info-main .product-add-form {
    border: none;
}
.product-item-info:hover .product-item-photo:not(.porto-tb-featured-image) {
    box-shadow: none;
}
.products-grid.products-related .product-items .product-item-info,.products-grid.products-upsell .product-items .product-item-info {
    position: relative;
    background: #fff;
    padding: 2rem;
    border-radius: 4px;
}
.product-image-photo {
    filter: contrast(1.1);
}
.product.media .owl-carousel .item img {
    filter: contrast(1.1);
}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 600;
}
html .background-color-secondary {
    background-color: #ff7272!important;
}

.footer, .footer p {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0;
}
.footer .widgettitle, .footer .widget-title {
    font-size: .9375rem;
    font-weight: 700;
}
.footer-top .custom-block:before,.footer-top .custom-block:after {
    margin-bottom: 0;
    border: none;
    margin-top: 0;
}
.footer-middle > .container::after {
     border: none;
}
.footer .block.newsletter .form.subscribe {
    margin-bottom: 10px;
}
.footer .newsletter input {
    height: 3rem;
    padding-left: 1.25rem;
    background: #f4f4f4;
    border-radius: 0;
}
.footer .newsletter .action.subscribe {
    height: 3rem;
    font-weight: 600;
    border-radius: 0;
    border: none;
    letter-spacing: .15em;
}
.footer .widget>div>ul li {
    margin-bottom: 14px;
}
.footer-middle > .container {
    padding-top: 1.7rem;
    padding-bottom: 1rem;
}
.footer-bottom address {
    text-align: left;
    font-size: 13px;
    letter-spacing: -0.325px;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
}
.footer-bottom {
    font-size: 1em;
    padding-top: 1.125rem;
    padding-bottom: 4.375rem;
    border: #e7e7e7 solid 1px;
}