/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2025-10-20 03:10:46 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

@media (min-width: 1190px) {
  .layout-1220 .container,.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container {
    max-width: 1236px;
  }
}
body, li {
    line-height: 22px;
  }
@media (max-width: 575px){
  body {
    font-size: 13px;
    line-height: 21px;
  }
}
p {
  letter-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins,sans-serif;
  color: #222529;
  letter-spacing: -0.05em;
}
h1 {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin: 0 0 32px 0;
}
h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 52px;
  margin: 0 0 32px 0;
}
h3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  margin: 0 0 20px 0;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 14px 0;
}
h5 {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 14px 0;
  letter-spacing: -0.325px;
  color: #666666;
}
h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 14px 0;
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
  color: #ff7272;
}

html .btn-modern {
  text-transform: uppercase;
  font-size: .75rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  height: auto;
}
html .action.primary, html .btn {
  font-family: Poppins;
  letter-spacing: .01em;
  font-weight: 700;
  line-height: 1.42857;
  padding: .8em 2em;
  border-radius: 0;
}
html .action.primary {
  color: #fff;
  background-color: #65829d;
    border-color: #65829d #65829d #51697f;
}
html .btn-lg {
  padding: .5rem .875rem;
  font-size: .875rem;
  line-height: 1.3333;
  border-radius: 0;
}
.btn-modern.btn-lg {
  font-size: .875rem;
  padding: 1rem 2.25rem;
}
.btn-flat {
  padding: 0!important;
  background: none!important;
  border: none!important;
  border-bottom: 1px solid transparent!important;
  box-shadow: none!important;
  text-transform: uppercase;
  font-size: .75rem;
}
html .btn-dark {
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
  color: #222529;
  background-color: #fff;
  border-color: #fff #fff #e6e6e6;
}
html .background-color-secondary {
  background-color: #ff7272!important;
}
.custom-font,.custom-font h2 {
    font-family: Segoe Script;
}
.main-panel-top .share-links a:not(:hover) {
    color: #282d3b;
}
.main-panel-top .share-links a {
    width: 28px;
    height: 28px;
    margin: 0 1px;
    font-size: 1rem;
}
.pe-2 {
    padding-right: 0.5rem !important;
}
.pe-4 {
    padding-right: 1.5rem !important;
}
.m-l-n-xxs {
    margin-left: -1px!important;
}
@media (min-width: 576px) {
.text-sm-start {
    text-align: left !important;
}
.flex-sm-row {
    flex-direction: row !important;
}
}
@media (min-width: 768px) {
.me-md-4 {
    margin-right: 1.5rem !important;
}
}
@media (min-width: 992px) {
.text-lg-end {
    text-align: right !important;
}
.mt-lg-0 {
    margin-top: 0 !important;
}
.text-lg-start {
    text-align: left !important;
}
.ps-lg-4 {
    padding-left: 1.5rem !important;
}
.mb-lg-0 {
    margin-bottom: 0 !important;
}
}
@media (min-width: 1280px){
.pe-xl-5 {
    padding-right: 3rem !important;
}
}
.page-header.type23 .header-contact p,.page-header.type23 .header-main .porto-sicon-box .porto-icon {
    color: inherit !important;
}
.page-header.type23 .header.panel > .header.links > li {
    font-weight: 400;
}
.minicart-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 9px;
}
.minicart-wrapper .action.showcart .minicart-icon {
    font-size: 30px;
}
.page-header.type23 .navigation:not(.side-megamenu) > ul::-webkit-scrollbar {
        height: 5px;
    }

    .page-header.type23 .navigation:not(.side-megamenu) > ul::-webkit-scrollbar-track {
        background: none;
        border-radius: 0;
        margin: 0;
    }

    .page-header.type23 .navigation:not(.side-megamenu) > ul::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,.25);
        border-radius: 5px;
    }
@media (min-width: 992px) {

.page-header.type23 .header.content {
    padding-top: 16px;
    padding-bottom: 16px;
}
.page-header.type23 .search-area .block.block-search {
    border: 1px solid rgba(129,129,129,0.2);
    border-radius: 6px;
}
.page-header.type23 .block-search input {
    height: 48px;
    padding: 0 0 0 15px;
}
.page-header.type23 .search-category {
    height: 48px;
    line-height: 48px;
}
.page-header.type23 .search-category:after {
    line-height: 48px;
}
.page-header.type23 .search-area .minisearch .actions button {
    height: 48px;
    color: #222529;
    line-height: 48px;
}
.page-header.type23 .nav-sections {
    padding-top: 0;
}
.page-header.type23 .panel.wrapper {
    padding: 11px 0;
    margin-bottom: 0.5rem;
    font-size: 11px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: .025em;
    margin-bottom: 0;
}
.page-header.type23 .navigation:not(.side-megamenu) > ul {
    border-radius: 6px;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    margin-top: 11px;
    margin-bottom: 10px;
}
.page-header.type23 .navigation:not(.side-megamenu) .level0 {
    width: auto;
    margin: 0 1px 0 0;
}
.page-header.type23 .navigation:not(.side-megamenu) .level0:last-child {
    margin: 0 0 0 0;
}
.page-header.type23 .navigation:not(.side-megamenu) .level0 .level-top {
    text-align: center;
    display: block;
    font-family: Poppins,sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.35px;
    padding: 20px 19.4px 20px 19.4px;
}
}
.top-icon .porto-sicon-header {
  margin-bottom: .75rem;
}
.widget .widgettitle {
  font-size: 1rem;
  letter-spacing: -.02em;
}
.product-item-name a {
    font-family: 'Poppins';
}
.product-item-info .product-item-details .product-item-actions .tocart {
    padding-left: 1rem;
    padding-right: 1rem;
    background: #f4f4f4;
    border: none;
    line-height: 36px;
    font-weight: 700;
}
.product-item-photo>a:not(.weltpixel-quickview):before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.1);
  z-index: 3;
  opacity: 0;
  transition: opacity .2s;
}
.product-item-info:hover .product-item-photo>a:not(.weltpixel-quickview):before {
  opacity:1;
}
.small-list.products-grid .product-items .product-item-info .product-item-photo:before {display: none;}
.owl-carousel.show-nav-title .owl-nav {
    margin-top: -24px;
}
.footer-top .custom-block:before {
    display: none;
}
.footer-top .custom-block:after {
    margin-top: 52px;
}
.footer, .footer p {
    letter-spacing: 0;
}
.footer-middle > .container::after {
    border-bottom-color: #e7e7e7;
}

.footer .block.newsletter .form.subscribe {
    margin-left: 0;
    width: auto;
}
.footer .newsletter input {
    background: #fff;
    padding: 15px 0 15px 17px;
    font-size: 13px;
    border: 1px solid #e7e7e7;
    border-radius: 6px 0 0 6px;
    border-right-width: 0;
    height: auto;
}
@media(min-width: 576px){
.footer .newsletter .action.subscribe {
min-width: 215px;
}
}
.footer .newsletter .action.subscribe {
    margin-left: 0;
    max-height: 53px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -.025em;
    padding: 14px;
    border-radius: 0 6px 6px 0;
    border: 1px solid var(--theme-color);
    background: var(--theme-color);
    text-transform: capitalize;
    height: 50px;
}
.footer .widgettitle, .footer .widget-title {
    text-transform: capitalize;
    font-size: 15px;
    color: #183f72;
    font-weight: 800;
    letter-spacing: -0.3px;
    margin-bottom: 5px;
    padding-bottom: 0.5rem;
    line-height: 1;
}
.footer-middle .widget {
    margin-bottom: 1.875rem;
    margin-top: 1.875rem;
}
.footer-middle .widget:first-child {
    margin-top: 0;
}
.footer .share-links a {
    width: 2.5rem;
    height: 2.5rem;
    box-shadow: none;
    border-radius: 30px;
    margin: 2px;
    overflow: hidden;
    font-size: 14px;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
}
.footer .share-links a:not(:hover) {
    background: #fff;
    color: #333333;
}
.footer li {
    margin-bottom: 0;
    line-height: 35px;
}
.footer .footer-bottom {
    padding: 16px 0 28px;
    font-size: 1em;
}