/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2025-10-20 03:10:46 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}

body,li {
    line-height: 26px;
}
p {
    line-height: inherit;
    letter-spacing: 0;
}
@media (max-width: 575px){
body {
    font-size: 13px;
    line-height: 21px;
}
}
h1, h2, h3, h4, h5, h6 {
    font-family: Poppins,sans-serif;
    color: #222529;
    letter-spacing: normal;
}
h1 { 
    font-weight: 400;
    font-size: 36px;
    line-height: 44px; 
    margin: 0 0 32px 0;
}
h2 { 
    font-weight: 400;
    font-size: 30px;
    line-height: 40px; 
    margin: 0 0 32px 0;
    letter-spacing: -0.05em;
}
h3 {
    font-weight: 400;
    font-size: 25px;
    line-height: 32px;
    margin: 0 0 20px 0;
}
h4 {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    margin: 0 0 14px 0;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 14px 0;
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
    color: #ff7272;
}
html .btn-modern {
    text-transform: uppercase;
    font-size: .75rem;
    padding: .75rem 1.5rem;
    font-weight: 600;
    height: auto;
}
html .action.primary, html .btn {
    font-family: Poppins;
    letter-spacing: .01em;
    font-weight: 700;
    line-height: 1.42857;
    padding: .8em 2em;
}
html .btn-modern {
    font-weight: 400;
    letter-spacing: .15em;
}
html .action.primary {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #222529;
}
html .btn-xl {
    font-size: 1rem;
    padding: .8rem 2rem;
}
html .btn-lg {
    line-height: 1.3333;
    border-radius: 0;
}
.btn-modern.btn-xl {
    font-size: 1rem;
    padding: 1.25em 3.125em;
}
.btn-flat {
    padding: 0!important;
    background: none!important;
    border: none!important;
    border-bottom: 1px solid transparent!important;
    box-shadow: none!important;
    text-transform: uppercase;
    font-size: .75rem;
}
html .btn-dark {
    color: #fff;
    background-color: #222529;
    border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
    color: #fff;
    background-color: #000;
    border-color: #000 #000 #000;
}
html .background-color-secondary {
    background-color: #f4a085 !important;
}
.custom-font1 {
    font-family: Playfair Display,sans-serif;
}
.font-weight-extra-bold {
    font-weight: 800;
}
.m-r-xs {
    margin-right: 5px!important;
}
.m-r-md {
    margin-right: 20px!important;
}
.ms-1 {
    margin-left: 0.25rem !important;
}
.m-r-n-sm {
    margin-right: -10px!important;
}
.p-b-xs {
     padding-bottom: 5px!important;
 }
.custom-text-indent {
    text-indent: -7px;
    white-space: nowrap;
}
@media (max-width: 767px) {
.logo {
    max-width: initial;
    z-index: auto;
}
.logo img { 
    max-height: initial;
}
}
@media (min-width: 768px) {
.d-md-block {
    display: block !important;
}
}
@media (min-width: 992px) {
.page-header.type20.sticky-header .header-main { 
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header.type20.sticky-header .logo { 
    max-width: 108px;
}
.page-header.type20.sticky-header .logo img {
    transform: scale(1); 
}
}
@media (min-width: 1200px) {
.layout-1220 .container,.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .navigation, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container {
    max-width: 1236px; 
}
}
.porto-icon-shopping-cart:before {
    content: '\e80d';
}
.minicart-wrapper .action.showcart .minicart-icon {
    right: 0;
    left: 0;
}
.page-header.type20 .minicart-wrapper .action.showcart { 
    margin-left: -1.5px;
}
.minicart-wrapper .action.showcart {top: 0;min-width: 32px;}
.minicart-wrapper .action.showcart .minicart-icon {font-size: 28px;}
.minicart-wrapper .action.showcart::after {display: block;}
.minicart-wrapper .action.showcart .counter.qty {right: 18px;background: #ff5b5b;}

.page-header.type20 .header-contact .my-account i, .page-header.type20 .header-contact .wishlist i {
    font-size: 28px;
}
.page-header.type20 .header-contact .my-account,.page-header.type20 .header-contact .wishlist {
    padding: 0 .125rem;
}
.page-header.type20 .header-contact .my-account {
    padding: 0 .125rem;
    margin-right: 0 !important;
}
.page-header.type20 .header-right > * {
    margin-left: 1.125rem;
}
.page-header.type20 .header-right > *:firt-child {
    margin-left: 0;
}
.rtl .page-header.type20 .header-right > * {
    margin-right: 1.125rem;
    margin-left: 0;
}
.rtl .page-header.type20 .header-right > *:firt-child {
    margin-right: 0;
}
.page-header.type20 .header-contact > *:not(:first-child) {
    margin-left: 1.125rem;
}
.rtl .page-header.type20 .header-contact > *:not(:first-child) {
    margin-right: 1.125rem !important;
    margin-left: 0;
}
.page-header.type20 .search-area.show-icon a.search-toggle-icon {
    font-size: 22.5px;
}
.page-header.type20 .main-panel-top {
    border-bottom: #e7e7e7 solid 1px;
    padding-top: 9px;
    padding-bottom: 9px;
}
.page-header.type20 .panel.wrapper { 
    min-height: auto; 
}
.page-header.type20 .main-panel-top .share-links a {
    width: 30px;
    height: 30px;
    margin: 0 4px;
    display: inline-block;
    font-size: 15px;
}
.page-header.type20 .main-panel-top .share-links a:not(:hover) {
    color: #333;
}
@media (max-width: 991px) {
.page-header.type20 .custom-block {
    display: block;
}
}
@media (min-width: 992px) {
.page-header.type20 .header-right > .header.panel:not(.show-icon-tablet) {
    border-left: #e7e7e7 solid 1px;
    padding-left: 20px;
    border-right: #e7e7e7 solid 1px;
    padding-right: 20px;
    margin-left: 0;
}
.page-header.type20 .header.panel > .header.links > li:first-child, .page-header.type20 .header.panel > .header.links > li.compare, .page-header.type20 .header.panel > .header.links > li.compare + li, .page-header.type20 .header.panel > .header.links > li:last-child {
    display: none;
}
.page-header.type20 .header-main .header-left, .page-header.type20 .header-main .header-right {
    padding-top: 30px;
    padding-bottom: 30px;
}
.page-header.type20 .header-main .header-left {
    flex: 1;
}
.page-header.type20 .logo {
    margin-right: 1rem;
}
.page-header.type20 .header.panel > .header.links > li {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 25px;
    letter-spacing: -.025em;
    font-size: 12px;
    line-height: 32px;
}
.page-header.type20 .header.panel > .header.links > li > a{
    padding: 0;
    text-transform: inherit;
}
.page-header.type20 .nav-sections {
    display: block;
    margin-left: 1.125rem;
    flex: 1;
}
.page-header.type20 .navigation:not(.side-megamenu) > ul { 
    justify-content: flex-end;
}
.page-header.type20 .navigation:not(.side-megamenu) .level0 .level-top {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -.35px; 
    padding: 10px 24px 10px 24px;
    text-transform: capitalize;
} 
.page-header.type20.sticky-header .header-main .header-left, .page-header.type20.sticky-header .header-main .header-right {
    padding-top: 0;
    padding-bottom: 0;
}
.page-header.type20.sticky-header .nav-sections {
    margin-left: 1.125rem !important;
}
.rtl .page-header.type20.sticky-header .nav-sections {
    margin-right: 1.125rem !important;
    margin-left: 0 !important
}
}
.checkout-cart-index .page-title-wrapper .page-title {
    font-family: inherit;
    font-style: inherit;
}
.top-icon .porto-sicon-header {
    margin-bottom: .75rem;
}
html .background-color-secondary {
    background-color: #ff7272!important;
} 
.side-custom-block .custom-block h2 {
    font-size: inherit;
    font-family: inherit;
    font-style: inherit;
}
.footer, .footer p { 
    letter-spacing: 0;
    font-size: 13px;
}
.footer .widgettitle, .footer .widget-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 18px;
    line-height: 1;
    letter-spacing: -.025em;
}
.footer-top .custom-block:before,.footer-top .custom-block:after {
    margin-bottom: 0;
    border: none;
    margin-top: 0;
}
.footer-middle > .container {
    padding-top: 65px;
    padding-bottom: 14px;
} 
.footer-middle > .container::after {
     border-color:rgba(225,225,225,0.1);
     margin-top: .625rem;
     position: static;
}
.footer-middle > .container > .row {
    align-items: center;
}
.footer-middle > .container > .row > div:not(:first-child) {
    align-self: flex-start;
}
.footer .follow-us .share-links a:not(:hover) {
    background: #fff;
    color: #222529;
}
.footer .block.newsletter .form.subscribe { 
    display: block;
}
.footer .block.newsletter .field { 
    margin-bottom: 1rem;
}
.footer .newsletter input {
    height: 48.59px; 
    border: none;
    border-radius: 0;
    background: #292c30;
    padding-left: 1.5rem;
    font-size: .8125rem;
}
.footer .newsletter .action.subscribe {
    height: 55px;
    border-radius: 0;
    padding: 1.25em 4.2em 1.25em 4.2em;
    font-size: .8125rem;
    font-weight: 700;
    font-family: inherit;
    letter-spacing: -0.325px;
    margin-left: -1px;
    border: 2px rgba(52,103,239,0.5) solid;
}
.footer .widget>div>ul li {
    margin-bottom: 0;
    line-height: 24px;
}
.footer .contact-info .contact-details strong {
    font-weight: 600;
    color: #888888;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.025em;
}
.footer .contact-info .contact-details span {
    padding-left: 0;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -.03em;
    color: #fff;
}
.footer .contact-info .contact-details span a {
    color: #fff;
}
.footer-bottom address {
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
}
.footer-bottom .widget.widget_custom_html {
    margin-bottom: 0;
}
.footer-bottom .custom-block.f-right, .footer-bottom address {
    padding-top: 0;
    padding-bottom: 0;
}
.footer-bottom {
    font-size: 1em;
    padding-bottom: 52px;
    padding-top: 0;
}