/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2025-10-20 03:10:46 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main,.page-product-downloadable .product-options-bottom {
        width: 57.17%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media,.page-product-downloadable .product-options-wrapper {
        width: 40.83%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 42.8775%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 30.6225%;
    }
}
@media (max-width: 480px){
    .products-grid .product-item {
        float: none;
        width: 100%;
        padding: 10px 0;
    }
}

.layout-1220 .block.category.event, .layout-1220 .footer.content, .layout-1220 .header.content, .layout-1220 .page-main, .layout-1220 .page-wrapper>.breadcrumbs >ul, .layout-1220 .page-wrapper>.page-bottom, .layout-1220 .page-wrapper>.widget, .layout-1220 .top-container, .layout-1220 .container, .container,.page-header.type15 .header-main .header.content {
  max-width: 1440px;
}
@media (max-width: 575px){
  body {
    font-size: 13px;
    line-height: 21px;
  }
}
p {
  font-family: Open Sans,sans-serif;
  margin: 0 0 1.25rem;
  line-height: 24px;
  letter-spacing: .1px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Poppins,sans-serif;
  color: #222529;
  letter-spacing: normal;
}
h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 44px;
  margin: 0 0 32px 0;
}
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 60px;
  margin: 0 0 32px 0;
}
h3 {
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  margin: 0 0 20px 0;
}
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  margin: 0 0 14px 0;
  font-family: "Open Sans";
}
h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 14px 0;
  font-family: "Open Sans";
}
h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0 0 14px 0;
  font-family: "Open Sans";
}
.home-banner-slider h2.vc_custom_heading, .custom-font4 {
  font-family: 'Segoe Script','Savoye LET';
}
html .heading-secondary, html .lnk-secondary, html .text-color-secondary {
  color: #ed7e63;
}
html .btn-modern {
  text-transform: uppercase;
  font-size: .75rem;
  padding: .75rem 1.5rem;
  font-weight: 600;
  height: auto;
}
html .action.primary, html .btn {
  font-family: Poppins;
  letter-spacing: 0;
  font-weight: 600;
  padding: .533rem .933rem;
  font-size: .8rem;
  line-height: 1.42857;
  border-radius: 0;
}
html .btn-modern {
  font-size: .8125rem;
  padding: 1em 2.8em;
}
html .action.primary {
  color: #fff;
  background-color: #606da6;
  border-color: #606da6 #606da6 #606da6;
}
html .btn-xs {
  padding: .2rem .5rem;
  font-size: .7rem;
  line-height: 1.5;
}
html .btn-xl {
  font-size: 1rem;
  padding: .8rem 2rem;
}
.btn-modern.btn-xl {
  font-size: 1rem;
  padding: 1.25em 3.125em;
}
html .btn-lg {
  font-size: .875rem;
  line-height: 1.3333;
}
.btn-default.btn {
  border-color: #e7e7e7;
  border-width: 2px;
  border-style: solid;
}
.btn-default.btn:hover {
    background-color: #f2f2f2;
    border-color: rgba(0,0,0,.06);
}
.btn.btn-borders {
  padding: .8em 1.4em;
  font-weight: 700;
  letter-spacing: .15em;
  background: transparent;
}
.btn-borders.btn-lg {
  padding: 1em 1.6em;
}
html .btn-borders.btn-light {
  background: transparent;
  border-color: #fff;
  color: #fff;
}
.btn-flat {
  padding: 0!important;
  background: none!important;
  border: none!important;
  border-bottom: 1px solid transparent!important;
  box-shadow: none!important;
  text-transform: uppercase;
  font-size: .75rem;
}
html .btn-dark {
  color: #fff;
  background-color: #222529;
  border-color: #222529 #222529 #0b0c0e;
}
html .btn-light {
  color: #222529;
  background-color: #fff;
  border-color: #fff #fff #e6e6e6;
}
html .btn-quaternary {
  color: #fff;
  background-color: #000;
  border-color: #000 #000 #000;
}
html .background-color-secondary {
  background-color: #f4a085 !important;
}
.porto-icon-shopping-cart:before {
    content: '\e829';
}
.top-icon .porto-sicon-header {
  margin-bottom: .75rem;
}
.page-header.type17 .my-account i, .page-header.type17 .wishlist i {
    font-size: 23px;
}
.page-header.type17 .search-area a.search-toggle-icon {
    width: 25px;
}
.page-header.type17 .header-col > * {
    margin-right: 0 !important;
}
.page-header.type17 .minicart-wrapper .action.showcart {
    min-width: 25px;
}
.page-header.type17 .minicart-wrapper .action.showcart .minicart-icon {
    font-size: 23px;
}
.page-header.type17 .minicart-wrapper .action.showcart .counter.qty {
    right: -7px;
}
@media (min-width: 992px){
.page-header.type17 .header-main .header-left {
    padding-top: 10px;
    padding-bottom: 10px;
}
.page-header.type17 .navigation:not(.side-megamenu) .level0 {
    margin: 0 21px 0 0;
}
.page-header.type17 .navigation:not(.side-megamenu) .level0 .level-top {
    font-weight: 600;
    letter-spacing: -0.03em;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 20px;
    padding-top: 24px;
    padding-bottom: 26px;
}
.page-header.type17 .navigation:not(.side-megamenu) .level0:first-child .level-top{
    padding-left: 0;
}
.page-header.type17 .navigation:not(.side-megamenu) .level0 .level-top::before {
    display: none;
}
}
.page-products .sorter, .field.limiter, .toolbar .modes {
    position: static;
    display: none;
}
.page-layout-1column .toolbar-products {
    justify-content: flex-end;
}
  .owl-carousel .owl-dots .owl-dot span,.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span {
    background: #222529;
  }
.page-main {
   padding-top: 20px !important;
}
.page-wrapper > .breadcrumbs {
  margin-bottom: 0;
  font-size: 12.5px;
    line-height: 25px;
    letter-spacing: -0.18px;
    color: #666666;
font-weight: 500;
    margin-top: 15px;
}
.page-wrapper > .breadcrumbs .items {
  padding-top: 17px;
    padding-bottom: 18px;
    position: relative;
}
.page-wrapper > .breadcrumbs .items > li:not(:last-child)::after {
    content: "/";
}
.page-wrapper > .breadcrumbs .items>li.home a {
  width: auto;
  text-indent: 0;
}
.page-wrapper > .breadcrumbs .items>li.home a:after {
  display: none;
}
.slider-title, .section-title {
  letter-spacing: .15em;
}
.widget .widgettitle {
  font-size: 1rem;
  letter-spacing: -.02em;
}
.footer, .footer p {
    letter-spacing: 0;
    font-family: Poppins,sans-serif;
    font-size: 12px;
    line-height: 24px;
}
.footer .widgettitle, .footer .widget-title {
  font-size: 1.1667em;
    font-weight: 700;
    text-transform: capitalize;
}
.footer-top .custom-block:before, .footer-top .custom-block::after {
  display: none;
}
.footer .widget + .widget {
  margin-top: 0;
}
.footer-middle>.container>.row {
    align-items: center;
}
.footer-middle>.container>.row>.col-lg-4:nth-child(2) {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}
.footer-middle>.container>.row>.col-lg-4:nth-child(2) .widget_text h3 {
  margin-right: 20px;
  padding-right: 30px;
  border-right: 1px solid #e7e7e7;
}
.footer-middle>.container>.row>.col-lg-4:nth-child(3) {
  align-self: flex-start;
}
.footer-middle > .container::after {
  display: none;
}
.footer-middle > .container {
  border-bottom: 1px solid #e7e7e7;
}
.footer .follow-us .share-links a {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 16px;
  margin-right: 17px;
}
.footer .follow-us .share-links a:not(:hover) {
  background: none;
  color: #fff;
}
.footer-bottom {
    font-size: 13px;
    padding: 22.484px 0;
}
.footer-bottom address {
    font-size: 12px;
    color: #777777;
    line-height: 36px;
    font-weight: 500;
    letter-spacing: -0.1px;
}