<li id="doctor" class="checkout-doctor" data-bind="fadeVisible: isVisible">
<div id="checkout-step-doctor" class="step-content" data-role="content" role="tabpanel" aria-hidden="false">
<each if="!quoteIsVirtual" args="getRegion('doctor-info')" render="" />
<form data-bind="submit: onSubmit">
<div>
<span>Doctor's Name<span id="label_doctor">*</span>: <input class="input-text" required="true" /></span>
<br />
<br />
<span>Doctor's Phone Number<span id="label_doctor">*</span>: <input class="input-text" name="telephone" required="true" /></span>
<br />
<br />
<button id="button_doctor" data-role="opc-continue" class="primary action" type="submit">Next</button>
</div>
</form>
</div>
</li>
